header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 100px;
    background-color: var(--deepblue-background);
    color: var(--white-text);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 40%;
    height: 40px;
  }
  
  a {
    width: 15%;
    height: 20px;
    text-decoration: none;
    color: var(--white-text);
  }
  
  a:visited {
    color: var(--coral-color);
  }
  
  a:hover {
    color: var(--lightblue-hover);
  }